@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    transition: ease 0.4s;
}

a {
    text-decoration: none !important;
}

h3 {
    font-size: 20px;
}

:root {
    --ColorCorporate: #39A900;
    --ColorComplementary1: #385C57;
    --ColorComplementary2: #CB7766;
    --ColorFirst1: #00324D;
    --ColorFirst3: #FBFBE2;
    --ColorNeutral: #ffffff;
    --ColorRed: #dc2626;
    --ColorGreen: #39A900;
    --ColorGreyLight: #e1e1e4;
    --ColorGreyDark: #6A6A6A;
}


.container-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
}

.container-loading div {
    margin: auto;
    border-color: var(--ColorCorporate) !important;
    border-left-color: transparent !important;
}

.container-loading .continer-label-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-toggler {
    color: var(--ColorNeutral) !important;
}


.Form-RegisterByFiles {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--ColorNeutral);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    gap: 0.2rem;
    position: relative;
}

.Form-RegisterByFiles label {
    margin: 10px auto;
}

.Form-RegisterByFiles label svg {
    width: 35px;
    height: 35px;
    color: var(--ColorGreyDark);
    cursor: pointer;
}

.Form-RegisterByFiles label svg:hover {
    color: var(--ColorComplementary1);
    scale: 1.1;
}

.Form-RegisterByFiles h3 {
    color: var(--ColorCorporate);
}

.Form-RegisterByFiles .container-progress-bar {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.Form-RegisterByFiles .progress-bar {
    background-color: var(--ColorCorporate);
}

.Form-RegisterByFiles .container-progress-bar label {
    margin: 0;
    margin: auto;
    font-weight: bold;
}

.Form-RegisterByFiles .progress,
.progress-stacked {
    margin-bottom: 5px;
    height: 10px;
}

.Form-RegisterByFiles .container-progress-bar button {
    max-width: 150px;
    margin-left: auto;
    padding: 4px 15px;
}

.Form-RegisterByFiles p {
    margin: auto;
}