@{
    ViewBag.Title = "Home Page";

    int META_TGO = 2980;
    int META_TCO = 1567;
    int META_ET = 0;
    int META_OTROS = 205;

    int META_TGO_AP_PASAN = 2071;
    int META_TCO_AP_PASAN = 902;
    int META_ET_AP_PASAN = 0;
    int META_OTRO_AP_PASAN = 70;

    int APRENDICES_POR_CURSOS = 30;
    int APRENDICES_POR_CURSOS_OTROS = 35;

    double RESULT_META_TGO_AP_PROG = (META_TGO - META_TGO_AP_PASAN);
    double RESULT_META_TCO_AP_PROG = (META_TCO - META_TCO_AP_PASAN);
    double RESULT_META_ET_AP_PROG = (META_ET - META_ET_AP_PASAN);
    double RESULT_META_OTROS_AP_PROG = (META_OTROS - META_OTRO_AP_PASAN);

    double CURSO_META_TGO = dividir(RESULT_META_TGO_AP_PROG, APRENDICES_POR_CURSOS);
    double CURSO_META_TCO = dividir(RESULT_META_TCO_AP_PROG, APRENDICES_POR_CURSOS);
    double CURSO_META_ET = dividir(RESULT_META_ET_AP_PROG, APRENDICES_POR_CURSOS_OTROS);
    double CURSO_META_OTROS = dividir(RESULT_META_OTROS_AP_PROG, APRENDICES_POR_CURSOS_OTROS);

    double META_GENERAL = CURSO_META_TGO + CURSO_META_TCO + CURSO_META_ET + CURSO_META_OTROS;

    double dividir(double dividendo, double divisor)
    {
        if (dividendo < 0) return 0;
        if (divisor < 0) return 0;
        return Math.Round((dividendo / divisor) == 0 ? 0 : (dividendo / divisor),2);
    }

}



<div class="content">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center py-2 text-center text-md-start">
        <div class="flex-grow-1 mb-1 mb-md-0">
            <h1 class="h3 fw-bold mb-2">
                Inicio
            </h1>
            <h2 class="h6 fw-medium fw-medium text-muted mb-0">
                Bienvenido <a class="fw-semibold" href="be_pages_generic_profile.html">@Session["NombreUsuario"].ToString().Split()[0]</a>, un gusto de tenerte de vuelta.
            </h2>
        </div>
    </div>
</div>
<!-- END Hero -->
<div class="content">
    <h4>Meta general vigente del año <a class="fw-semibold">2024</a></h4>
    <div class="progress push">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @META_GENERAL%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span class="fs-sm fw-semibold">@META_GENERAL%</span>
        </div>
    </div>

</div>
<!-- Page Content -->
<div class="content">
    <!-- Overview -->
    <div class="row items-push">
        <div class="col-sm-6 col-xxl-3">
            <!-- Pending Orders -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@CURSO_META_TGO%</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Meta de Tecnológo</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Pending Orders -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- New Customers -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@CURSO_META_TCO%</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Meta de Técnico</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #00324D !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END New Customers -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Messages -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@CURSO_META_ET%</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Meta de Expecialista Técnico</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #CB7766 !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Messages -->
        </div>
        <div class="col-sm-6 col-xxl-3">
            <!-- Conversion Rate -->
            <div class="block block-rounded d-flex flex-column h-100 mb-0">
                <div class="block-content block-content-full flex-grow-1 d-flex justify-content-between align-items-center">
                    <dl class="mb-0">
                        <dt class="fs-3 fw-bold">@CURSO_META_OTROS%</dt>
                        <dd class="fs-sm fw-medium fs-sm fw-medium text-muted mb-0">Meta de Otros</dd>
                    </dl>
                    <div class="item item-rounded-lg bg-body-light">
                        <i class="fa fa-2x fa-user-tie text-primary" style="color: #6A6A6A !important;"></i>
                    </div>
                </div>
                <div class="bg-body-light rounded-bottom">
                    <a class="block-content block-content-full block-content-sm fs-sm fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                        <span>Detalles</span>
                        <i class="fa fa-arrow-alt-circle-right ms-1 opacity-25 fs-base"></i>
                    </a>
                </div>
            </div>
            <!-- END Conversion Rate-->
        </div>
    </div>
    
</div>
<!-- END Page Content -->
<div class="content">
    <!-- Chart.js Charts are initialized in js/pages/be_comp_charts.min.js which was auto compiled from _js/pages/be_comp_charts.js -->
    <!-- For more info and examples you can check out http://www.chartjs.org/docs/ -->
    <h2 class="content-heading">Graficos</h2>
    <div class="row">
        <div class="col-xl-6">
            <!-- Donut Chart -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Donal</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3 px-xxl-7">
                        <!-- Donut Chart Container -->
                        <canvas id="js-chartjs-donut" width="538" height="538" style="display: block; box-sizing: border-box; height: 738px; width: 738px;"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Donut Chart -->
        </div>
        <div class="col-xl-6">
            <!-- Donut Chart -->
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Barra</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full text-center">
                    <div class="py-3 px-xxl-7">
                        <!-- Donut Chart Container -->
                        <canvas id="js-chartjs-donut2" width="538" height="538" style="display: block; box-sizing: border-box; height: 738px; width: 738px;"></canvas>
                    </div>
                </div>
            </div>
            <!-- END Donut Chart -->
        </div>
    </div>
</div>
<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Ofertas</h3>
            <div class="block-options space-x-1">
                <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#one-dashboard-search-orders" data-class="d-none">
                    <i class="fa fa-search"></i>
                </button>
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn btn-sm btn-alt-secondary" id="dropdown-recent-orders-filters" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-flask"></i>
                        Filtro
                        <i class="fa fa-angle-down ms-1"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end fs-sm" aria-labelledby="dropdown-recent-orders-filters">
                        <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                            Pendiente
                        </a>
                        <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                            Etapa Lectiva
                        </a>
                        <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                            Etapa Productiva
                        </a>
                        <a class="dropdown-item fw-medium d-flex align-items-center justify-content-between" href="javascript:void(0)">
                            Finalizadas
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="one-dashboard-search-orders" class="block-content border-bottom d-none">
            <!-- Search Form -->
            <form action="be_pages_dashboard.html" method="POST" onsubmit="return false;">
                <div class="push">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-alt" id="one-ecom-orders-search" name="one-ecom-orders-search" placeholder="Buscar Oferta..">
                        <span class="input-group-text bg-body border-0">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
            <!-- END Search Form -->
        </div>
        <div class="block-content block-content-full">
            <!-- Recent Orders Table -->
            <div class="table-responsive">
                <table class="table table-hover table-striped table-vcenter js-dataTable-resposive">
                    <thead>
                        <tr>
                            <th># Ficha</th>
                            <th class="d-none d-xl-table-cell">Programa de formación </th>
                            <th class="d-none d-xl-table-cell">Nivel </th>
                            <th>Estado</th>
                            <th class="d-none d-sm-table-cell text-center">Progreso</th>
                            <th class="d-none d-sm-table-cell text-end">Trimestre</th>
                            <th class="d-none d-sm-table-cell text-end"># Aprendices</th>
                        </tr>
                    </thead>
                    <tbody class="fs-sm">
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2693606
                            </td>
                            <td class="d-none d-xl-table-cell">
                                ANLISIS Y DESARROLLO DE SOFTWARE
                            </td>
                            <td>
                                TECNOLOGO
                            </td>
                            <td>
                                <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-warning-light text-warning">Etapa Lectiva</span>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <div class="progress mb-1" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="fs-xs fw-semibold mb-0">24%</p>
                            </td>
                            <td class="d-none d-sm-table-cell fw-semibold text-muted text-end">7/7</td>
                            <td class="d-none d-sm-table-cell text-end">
                                <strong>16</strong>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- END Recent Orders Table -->
        </div>
        <div class="block-content block-content-full bg-body-light">
            <!-- Pagination -->
            <nav aria-label="Photos Search Navigation">
                <ul class="pagination pagination-sm justify-content-end mb-0">
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1" aria-label="Previous">
                            Prev
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Next">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Pagination -->
        </div>
    </div>
    <!-- END Recent Orders -->
</div>


<script>
        window.addEventListener('load', function () {
            // Código a ejecutar cuando se cargan todos los scripts
            console.log([@CURSO_META_TGO,@CURSO_META_TCO,@CURSO_META_ET,@CURSO_META_OTROS]);
            Data = {
                labels: ["META TGO", "META TCO", "META ET", "META OTROS"],
                datasets: [
                    {
                        data: [@CURSO_META_TGO,@CURSO_META_TCO,@CURSO_META_ET,@CURSO_META_OTROS],
                        backgroundColor: [
                            "rgb(57, 169, 0,1)",
                            "rgb(0, 50, 77,1)",
                            "rgb(203, 119, 102,1)",
                            "rgb(106, 106, 106,1)",
                        ],
                        hoverBackgroundColor: [
                            "rgb(57, 169, 0,.75)",
                            "rgb(0, 50, 77,.75)",
                            "rgb(203, 119, 102,.75)",
                            "rgb(106, 106, 106,.75)",
                        ],
                    },
                ],
            };
            loadChartsOnHome();
        });

</script>
        
