@model ClaseModelo.Ficha

@{
    ViewBag.Title = "Delete";
}

<div class="container text-center">
    <div class="content block block-bordered">
        <h2>Eliminar</h2>

        <h3>Quiere eliminar la ficha <strong>@Html.DisplayFor(model => model.CodigoFicha)</strong>?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Volver", "Index")
                </div>
            }
        </div>
    </div>
</div>